.dse-icon{display:var(--dse-icon-display);width:var(--dse-icon-width);height:var(--dse-icon-height);position:var(--dse-icon-position);fill:var(--dse-icon-fill)}
.dse-button{font-family:var(--dse-button-font-family);font-weight:var(--dse-button-font-weight);font-size:var(--dse-button-font-size);color:var(--dse-button-color);background-color:var(--dse-button-background-color);border:var(--dse-button-border);border-radius:var(--dse-button-border-radius);padding:0 var(--dse-button-padding-right) 0 var(--dse-button-padding-left);height:var(--dse-button-height);display:var(--dse-button-display);align-items:var(--dse-button-align-items);text-decoration:var(--dse-button-text-decoration);box-sizing:var(--dse-button-box-sizing)}.dse-button:hover{color:var(--dse-button-hover-color);background-color:var(--dse-button-hover-background-color);border-color:var(--dse-button-hover-border-color)}.dse-button:active{color:var(--dse-button-active-color);background-color:var(--dse-button-active-background-color);border-color:var(--dse-button-active-border-color)}.dse-button:focus{text-decoration:var(--dse-button-focus-text-decoration);outline:var(--dse-button-focus-outline)}.dse-button:disabled,.dse-button--disabled{color:var(--dse-button-disabled-color);background-color:var(--dse-button-disabled-background-color);border-color:var(--dse-button-disabled-border-color)}.dse-button--cta{color:var(--dse-button-cta-color);background-color:var(--dse-button-cta-background-color);border-color:var(--dse-button-cta-border-color)}.dse-button--cta:hover{background-color:var(--dse-button-cta-hover-background-color);border-color:var(--dse-button-cta-hover-border-color)}.dse-button--cta:active{background-color:var(--dse-button-cta-active-background-color);border-color:var(--dse-button-cta-active-border-color)}.dse-button--large{height:var(--dse-button-large-height);font-size:var(--dse-button-large-font-size)}.dse-button__icon{margin-right:var(--dse-button-icon-margin-right)}
.dse-course-summary{font-family:var(--dse-course-summary-font-family);display:flex;margin-bottom:80px}.dse-course-summary--large{flex-direction:column;text-align:center;align-items:center;margin-top:60px}.dse-course-summary--large .dse-course-summary__image{width:340px;height:340px;margin-right:0;margin-bottom:50px}.dse-course-summary--large .dse-course-summary__downloadButton{display:none}.dse-course-summary--large .dse-course-summary__details{justify-content:center}.dse-course-summary--large .dse-course-summary__detail{margin:0 20px}.dse-course-summary__title{margin-top:0}.dse-course-summary__titleLink{text-decoration:none;margin-top:0}.dse-course-summary__titleLink:hover{color:var(--dse-color-gray-900)}.dse-course-summary__description{font-size:1.25rem;line-height:1.5;text-align:left}.dse-course-summary__details{display:flex;justify-content:space-between;padding:1rem 0}.dse-course-summary__image{display:inline-block;width:180px;height:180px;flex-shrink:0;margin-right:30px}.dse-course-summary__detail{height:var(--dse-course-summary-height);display:var(--dse-course-summary-display);align-items:var(--dse-course-summary-align-items);box-sizing:var(--dse-course-summary-box-sizing)}.dse-icon--course-summary-detail{margin-right:var(--dse-course-summary-icon-margin-right)}.dse-heading-XXXL{font-size:var(--dse-font-size-1300);margin-top:var(--dse-font-size-1200);font-weight:var(--dse-font-weight-black);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-heading-XXL{font-size:var(--dse-font-size-1100);margin-top:var(--dse-font-size-900);font-weight:var(--dse-font-weight-semi-bold);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-heading-XL{font-size:var(--dse-font-size-900);margin-top:var(--dse-font-size-800);font-weight:var(--dse-font-weight-semi-bold);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-heading-L{font-size:var(--dse-font-size-700);margin-top:var(--dse-font-size-600);font-weight:var(--dse-weight-regular);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-heading-M{font-size:var(--dse-font-size-500);margin-top:var(--dse-font-size-400);font-weight:var(--dse-weight-regular);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-heading-S{font-size:var(--dse-font-size-300);margin-top:var(--dse-font-size-200);font-weight:var(--dse-weight-regular);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-heading-XS{font-size:var(--dse-font-size-200);margin-top:var(--dse-font-size-100);font-weight:var(--dse-weight-regular);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-heading-XXS{font-size:var(--dse-font-size-100);margin-top:var(--dse-font-size-75);font-weight:var(--dse-weight-regular);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-page{font-family:var(--dse-body-font-family);color:var(--dse-color-gray-800)}
.dse-grid{display:grid;grid-template-columns:1fr;grid-auto-rows:minmax(auto, auto);grid-gap:10px;margin:0 auto}.dse-grid__1col{grid-column:span 1}.dse-grid__2col{grid-column:span 1}.dse-grid__3col{grid-column:span 1}.dse-grid__4col{grid-column:span 1}.dse-grid__5col{grid-column:span 1}.dse-grid__6col{grid-column:span 1}@media only screen and (min-width: 601px){.dse-grid{grid-template-columns:repeat(6, 1fr);grid-auto-rows:minmax(auto, auto)}.dse-grid__1col{grid-column:span 1}.dse-grid__2col{grid-column:span 2}.dse-grid__3col{grid-column:span 3}.dse-grid__4col{grid-column:span 4}.dse-grid__5col{grid-column:span 5}.dse-grid__6col{grid-column:span 6}}@media only screen and (min-width: 600px){.dse-grid{grid-template-columns:repeat(6, 1fr);grid-auto-rows:minmax(auto, auto)}}
.dse-grid{display:grid;grid-template-columns:1fr;grid-auto-rows:minmax(auto, auto);grid-gap:10px;margin:0 auto}.dse-grid__1col{grid-column:span 1}.dse-grid__2col{grid-column:span 1}.dse-grid__3col{grid-column:span 1}.dse-grid__4col{grid-column:span 1}.dse-grid__5col{grid-column:span 1}.dse-grid__6col{grid-column:span 1}@media only screen and (min-width: 601px){.dse-grid{grid-template-columns:repeat(6, 1fr);grid-auto-rows:minmax(auto, auto)}.dse-grid__1col{grid-column:span 1}.dse-grid__2col{grid-column:span 2}.dse-grid__3col{grid-column:span 3}.dse-grid__4col{grid-column:span 4}.dse-grid__5col{grid-column:span 5}.dse-grid__6col{grid-column:span 6}}@media only screen and (min-width: 600px){.dse-grid{grid-template-columns:repeat(6, 1fr);grid-auto-rows:minmax(auto, auto)}}
.dse-heading-XXXL{font-size:var(--dse-font-size-1300);margin-top:var(--dse-font-size-1200);font-weight:var(--dse-font-weight-black);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-heading-XXL{font-size:var(--dse-font-size-1100);margin-top:var(--dse-font-size-900);font-weight:var(--dse-font-weight-semi-bold);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-heading-XL{font-size:var(--dse-font-size-900);margin-top:var(--dse-font-size-800);font-weight:var(--dse-font-weight-semi-bold);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-heading-L{font-size:var(--dse-font-size-700);margin-top:var(--dse-font-size-600);font-weight:var(--dse-weight-regular);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-heading-M{font-size:var(--dse-font-size-500);margin-top:var(--dse-font-size-400);font-weight:var(--dse-weight-regular);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-heading-S{font-size:var(--dse-font-size-300);margin-top:var(--dse-font-size-200);font-weight:var(--dse-weight-regular);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-heading-XS{font-size:var(--dse-font-size-200);margin-top:var(--dse-font-size-100);font-weight:var(--dse-weight-regular);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-heading-XXS{font-size:var(--dse-font-size-100);margin-top:var(--dse-font-size-75);font-weight:var(--dse-weight-regular);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-page{font-family:var(--dse-body-font-family);color:var(--dse-color-gray-800)}
.dse-textinput{background-color:var(--dse-text-input-background-color);box-sizing:var(--dse-text-input-box-sizing);border-radius:var(--dse-text-input-border-radius);border:var(--dse-text-input-border-size) var(--dse-text-input-border-style)
    var(--dse-text-input-border-color);height:var(--dse-text-input-height);padding-top:0;padding-bottom:0;padding-left:var(--dse-text-input-padding-left);padding-right:var(--dse-text-input-padding-right);font-family:var(--dse-text-input-font-family);display:var(--dse-text-input-display);align-items:var(--dse-text-input-align-items);vertical-align:top}.dse-textinput:hover{border-color:var(--dse-text-input-hover-border-color)}.dse-textinput:focus{outline:var(--dse-text-input-focus-outline);padding-top:0;padding-bottom:0;padding-left:var(--dse-text-input-focus-padding-left);padding-right:var(--dse-text-input-focus-padding-right);border:var(--dse-text-input-focus-border-size)
    var(--dse-text-input-focus-border-style)
    var(--dse-text-input-focus-border-color)}.dse-textinput:disabled{background-color:var(--dse-text-input-disabled-background-color);border-color:var(--dse-text-input-disabled-border-color)}.dse-textinput--full-width{width:100%}
.dse-heading-XXXL{font-size:var(--dse-font-size-1300);margin-top:var(--dse-font-size-1200);font-weight:var(--dse-font-weight-black);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-heading-XXL{font-size:var(--dse-font-size-1100);margin-top:var(--dse-font-size-900);font-weight:var(--dse-font-weight-semi-bold);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-heading-XL{font-size:var(--dse-font-size-900);margin-top:var(--dse-font-size-800);font-weight:var(--dse-font-weight-semi-bold);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-heading-L{font-size:var(--dse-font-size-700);margin-top:var(--dse-font-size-600);font-weight:var(--dse-weight-regular);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-heading-M{font-size:var(--dse-font-size-500);margin-top:var(--dse-font-size-400);font-weight:var(--dse-weight-regular);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-heading-S{font-size:var(--dse-font-size-300);margin-top:var(--dse-font-size-200);font-weight:var(--dse-weight-regular);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-heading-XS{font-size:var(--dse-font-size-200);margin-top:var(--dse-font-size-100);font-weight:var(--dse-weight-regular);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-heading-XXS{font-size:var(--dse-font-size-100);margin-top:var(--dse-font-size-75);font-weight:var(--dse-weight-regular);font-family:var(--dse-heading-font-family);color:var(--dse-color-gray-800)}.dse-page{font-family:var(--dse-body-font-family);color:var(--dse-color-gray-800)}.dse-page{margin:var(--dse-page-margin);padding:var(--dse-page-padding);background-color:var(--dse-page-background-color)}
.dse-nav__checkbox{opacity:0;position:absolute;pointer-events:none}.dse-nav{font-family:var(--dse-nav-font-family);font-size:var(--dse-nav-font-size);position:relative;margin:0 auto;width:100%;margin:0 auto;box-shadow:0 2px 2px 0 var(--dse-nav-box-shadow-color);background:var(--dse-color-gray-200)}.dse-nav__link{text-decoration:none;color:var(--dse-color-blue-700)}.dse-nav__link--Selected{text-decoration:none;color:var(--dse-color-gray-800)}.dse-nav__link:hover{text-decoration:underline;color:var(--dse-color-blue-800)}.dse-nav__link:focus{outline:none;text-decoration:underline}.dse-nav__checkbox+.dse-nav rect{transform:rotate(0) translate(0, 0);transform-origin:center;transition:transform 0.5s}.dse-nav__checkbox:checked+.dse-nav rect:nth-child(1){transform:rotate(-45deg) translate(0, 5px)}.dse-nav__checkbox:checked+.dse-nav rect:nth-child(2){transform:rotate(45deg)}.dse-nav__checkbox:checked+.dse-nav rect:nth-child(3){transform:rotate(-45deg) translate(0, -5px)}.dse-nav__checkbox:checked+.dse-nav .dse-nav__list{height:5.2rem}.dse-nav__hamburger{display:flex;align-items:center;justify-content:center;cursor:pointer;padding:0.5rem}.dse-nav__hamburger-icon{margin-right:0.25rem}.dse-nav__list{display:block;transition:height 0.5s;margin:0;padding:0 1rem;height:0;overflow:hidden;list-style:none}.dse-nav__item{margin:0 0.625rem}@media only screen and (min-width: 800px){.dse-nav{box-shadow:none}.dse-nav::before{position:absolute;left:50%;z-index:-1;margin-left:-50vw;background:var(--dse-color-gray-200);width:100vw;height:100%;content:""}.dse-nav__label{display:none}.dse-nav__hamburger{display:none}.dse-nav__list{display:flex;justify-content:flex-start;padding:0.625rem 0;height:auto}}
.dse-input-label{font-family:var(--dse-input-label-font-family);color:var(--dse-input-label-color)}.dse-input-label--disabled,.dse-input-label--disabled:hover{color:var(--dse-input-label-disabled-color)}
.dse-form-field{display:var(--dse-form-field-display);align-items:var(--dse-form-field-align-items)}.dse-form-field__label{margin-right:var(--dse-form-field-label-margin-right)}.dse-form-field--top{flex-direction:var(--dse-form-field-top-flex-direct);align-items:var(--dse-form-field-top-align-items)}.dse-form-field--top .dse-form-field__label{margin-right:var(--dse-form-field-top-label-margin-right);margin-bottom:var(--dse-form-field-top-label-margin-bottom)}.dse-form-field:hover .dse-form-field__label{text-decoration:var(--dse-form-field-hover-label-text-decoration)}.dse-form-field--disabled:hover .dse-form-field__label{text-decoration:none}.dse-form-field:focus-within .dse-form-field__label{color:var(--dse-form-field-focus-within-label-color)}
.dse-link,.dse-link:link,.dse-link:visited{color:var(--dse-color-blue-600);text-decoration:none;position:relative;box-sizing:border-box}.dse-link:hover{text-decoration:underline}.dse-link:active{text-decoration:underline;color:var(--dse-color-gray-800)}.dse-link:focus,.dse-link.is-focused{outline-style:auto;outline-offset:1px;outline-color:var(--dse-color-blue-200)}.dse-link__icon{vertical-align:middle;position:relative;bottom:1px}.dse-link--icon{display:inline-flex;align-items:center}.dse-link--icon .dse-link__icon{vertical-align:unset;bottom:-1px;margin-right:3px}
.dse-grid{display:grid;grid-template-columns:1fr;grid-auto-rows:minmax(auto, auto);grid-gap:10px;margin:0 auto}.dse-grid__1col{grid-column:span 1}.dse-grid__2col{grid-column:span 1}.dse-grid__3col{grid-column:span 1}.dse-grid__4col{grid-column:span 1}.dse-grid__5col{grid-column:span 1}.dse-grid__6col{grid-column:span 1}@media only screen and (min-width: 601px){.dse-grid{grid-template-columns:repeat(6, 1fr);grid-auto-rows:minmax(auto, auto)}.dse-grid__1col{grid-column:span 1}.dse-grid__2col{grid-column:span 2}.dse-grid__3col{grid-column:span 3}.dse-grid__4col{grid-column:span 4}.dse-grid__5col{grid-column:span 5}.dse-grid__6col{grid-column:span 6}}@media only screen and (min-width: 600px){.dse-grid{grid-template-columns:repeat(6, 1fr);grid-auto-rows:minmax(auto, auto)}}.dse-subscribe-form{align-items:end}.dse-subscribe-form__heading{text-align:center}
.homeheader{max-width:768px;margin:0 auto;padding:20px 0 20px 0}.loginButtonContainer{grid-column-start:5;grid-column-end:7;text-align:right}.fullwidth.svelte-123p43a{background:white;border-bottom:1px solid var(--dse-color-gray-200)}
:root {
 --dse-color-gray-50: rgb(255, 255, 255);
 --dse-color-gray-75: rgb(250, 250, 250);
 --dse-color-gray-100: rgb(245, 245, 245);
 --dse-color-gray-200: rgb(234, 234, 234);
 --dse-color-gray-300: rgb(225, 225, 225);
 --dse-color-gray-400: rgb(202, 202, 202);
 --dse-color-gray-500: rgb(179, 179, 179);
 --dse-color-gray-600: rgb(142, 142, 142);
 --dse-color-gray-700: rgb(110, 110, 110);
 --dse-color-gray-800: rgb(75, 75, 75);
 --dse-color-gray-900: rgb(44, 44, 44);
 --dse-color-gray-default: var(--dse-color-gray-75);
 --dse-color-blue-200: rgb(90, 169, 250);
 --dse-color-blue-300: rgb(75, 156, 245);
 --dse-color-blue-400: rgb(55, 142, 240);
 --dse-color-blue-500: rgb(38, 128, 235);
 --dse-color-blue-600: rgb(20, 115, 230);
 --dse-color-blue-700: rgb(13, 102, 208);
 --dse-color-blue-800: rgb(9, 90, 186);
 --dse-button-font-family: var(--dse-source-sans-font-family);
 --dse-button-font-weight: var(--dse-font-weight-semi-bold);
 --dse-button-font-size: 1rem;
 --dse-button-color: var(--dse-color-blue-500);
 --dse-button-background-color: var(--dse-color-gray-default);
 --dse-button-border: 2px solid rgb(20, 115, 230);
 --dse-button-border-radius: 6px;
 --dse-button-display: inline-flex;
 --dse-button-align-items: center;
 --dse-button-box-sizing: border-box;
 --dse-button-text-decoration: none;
 --dse-button-padding-left: 1rem;
 --dse-button-padding-right: 1rem;
 --dse-button-height: 2rem;
 --dse-button-hover-color: var(--dse-color-gray-default);
 --dse-button-hover-background-color: var(--dse-color-blue-500);
 --dse-button-hover-border-color: var(--dse-color-blue-500);
 --dse-button-active-color: var(--dse-color-gray-default);
 --dse-button-active-background-color: var(--dse-color-blue-700);
 --dse-button-active-border-color: var(--dse-color-blue-700);
 --dse-button-focus-text-decoration: underline;
 --dse-button-focus-outline: none;
 --dse-button-disabled-color: var(--dse-color-gray-400);
 --dse-button-disabled-background-color: var(--dse-color-gray-100);
 --dse-button-disabled-border-color: var(--dse-color-gray-100);
 --dse-button-icon-margin-right: .5rem;
 --dse-button-cta-color: var(--dse-color-gray-default);
 --dse-button-cta-background-color: var(--dse-color-blue-500);
 --dse-button-cta-border-color: var(--dse-color-blue-500);
 --dse-button-cta-hover-background-color: var(--dse-color-blue-700);
 --dse-button-cta-hover-border-color: var(--dse-color-blue-700);
 --dse-button-cta-active-background-color: var(--dse-color-blue-800);
 --dse-button-cta-active-border-color: var(--dse-color-blue-800);
 --dse-button-large-height: 3rem;
 --dse-button-large-font-size: 1.2rem;
 --dse-course-summary-font-family: var(--dse-body-font-family);
 --dse-course-summary-height: 2rem;
 --dse-course-summary-display: inline-flex;
 --dse-course-summary-align-items: center;
 --dse-course-summary-box-sizing: border-box;
 --dse-course-summary-icon-margin-right: .5rem;
 --dse-course-summary-description-line-height: var(--dse-body-line-height);
 --dse-form-field-display: inline-flex;
 --dse-form-field-align-items: center;
 --dse-form-field-label-margin-right: 10px;
 --dse-form-field-top-flex-direct: column;
 --dse-form-field-top-align-items: flex-start;
 --dse-form-field-top-label-margin-right: 0;
 --dse-form-field-top-label-margin-bottom: 5px;
 --dse-form-field-hover-label-text-decoration: underline;
 --dse-form-field-focus-within-label-color: var(--dse-color-gray-900);
 --dse-asset-icon-play: assets/play-icon.svg;
 --dse-icon-display: inline-block;
 --dse-icon-width: 16px;
 --dse-icon-height: 16px;
 --dse-icon-position: relative;
 --dse-icon-fill: currentColor;
 --dse-input-label-font-family: var(--dse-source-sans-font-family);
 --dse-input-label-color: var(--dse-color-gray-800);
 --dse-input-label-disabled-color: var(--dse-color-gray-600);
 --dse-link-color: var(--dse-color-blue-600);
 --dse-link-text-decoration: none;
 --dse-link-position: relative;
 --dse-link-box-sizing: border-box;
 --dse-link-hover-text-decoration: underline;
 --dse-link-active-text-decoration: underline;
 --dse-link-active-color: var(--dse-color-blue-800);
 --dse-link-focus-outline-style: auto;
 --dse-link-focus-outline-offset: 1px;
 --dse-link-focus-outline-color: var(--dse-color-blue-200);
 --dse-link-icon-vertical-align: middle;
 --dse-link-icon-position: relative;
 --dse-link-icon-bottom: 1px;
 --dse-link-icon-variant-display: inline-flex;
 --dse-link-icon-variant-align-items: center;
 --dse-link-icon-variant-icon-vertical-align: unset;
 --dse-link-icon-variant-icon-bottom: -1px;
 --dse-link-icon-variant-icon-margin-right: 3px;
 --dse-nav-font-family: var(--dse-source-sans-font-family);
 --dse-nav-font-size: 1rem;
 --dse-nav-box-shadow-color: var(--dse-color-gray-400);
 --dse-page-margin: 0;
 --dse-page-padding: 0;
 --dse-page-background-color: var(--dse-color-gray-default);
 --dse-text-input-box-sizing: border-box;
 --dse-text-input-background-color: var(--dse-color-gray-50);
 --dse-text-input-border-size: 1px;
 --dse-text-input-border-style: solid;
 --dse-text-input-border-color: var(--dse-color-gray-600);
 --dse-text-input-border-radius: 6px;
 --dse-text-input-height: 2rem;
 --dse-text-input-padding-left: 8px;
 --dse-text-input-padding-right: 8px;
 --dse-text-input-font-family: var(--dse-source-sans-font-family);
 --dse-text-input-display: inline-flex;
 --dse-text-input-align-items: center;
 --dse-text-input-hover-border-size: 1px;
 --dse-text-input-hover-border-style: solid;
 --dse-text-input-hover-border-color: var(--dse-color-gray-800);
 --dse-text-input-focus-outline: none;
 --dse-text-input-focus-border-size: 2px;
 --dse-text-input-focus-border-style: solid;
 --dse-text-input-focus-border-color: var(--dse-color-blue-600);
 --dse-text-input-focus-padding-left: 7px;
 --dse-text-input-focus-padding-right: 7px;
 --dse-text-input-disabled-background-color: var(--dse-color-gray-100);
 --dse-text-input-disabled-border-color: var(--dse-color-gray-400);
 --dse-source-sans-font-family: 'Source Sans Pro', sans-serif;
 --dse-heading-font-family: var(--dse-source-sans-font-family);
 --dse-font-weight-thin: 100;
 --dse-font-weight-ultra-light: 200;
 --dse-font-weight-light: 300;
 --dse-font-weight-regular: 400;
 --dse-font-weight-medium: 500;
 --dse-font-weight-semi-bold: 600;
 --dse-font-weight-bold: 700;
 --dse-font-weight-extra-bold: 800;
 --dse-font-weight-black: 900;
 --dse-font-style-regular: normal;
 --dse-font-style-italic: italic;
 --dse-font-size-50: 13px;
 --dse-font-size-75: 15px;
 --dse-font-size-100: 17px;
 --dse-font-size-200: 19px;
 --dse-font-size-300: 22px;
 --dse-font-size-400: 24px;
 --dse-font-size-500: 27px;
 --dse-font-size-600: 31px;
 --dse-font-size-700: 34px;
 --dse-font-size-800: 39px;
 --dse-font-size-900: 44px;
 --dse-font-size-1000: 49px;
 --dse-font-size-1100: 55px;
 --dse-font-size-1200: 62px;
 --dse-font-size-1300: 70px;
 --dse-font-size-base: var(--dse-font-size-100); /* the base size of the font */
 --dse-letter-spacing-none: 0;
 --dse-letter-spacing-small: 0.0125em;
 --dse-letter-spacing-han: 0.05em;
 --dse-letter-spacing-medium: 0.06em;
 --dse-line-height-base: var(--dse-line-height-medium);
 --dse-line-height-large: 1.7;
 --dse-line-height-medium: 1.5;
 --dse-line-height-small: 1.3;
 --dse-body-line-height: var(--dse-line-height-base);
 --dse-body-font-family: var(--dse-source-sans-font-family);
 --dse-size-0: 0px;
 --dse-size-10: 1px;
 --dse-size-25: 2px;
 --dse-size-40: 4px;
 --dse-size-50: 5px;
 --dse-size-65: 6px;
 --dse-size-75: 8px;
 --dse-size-85: 9px;
 --dse-size-100: 10px;
 --dse-size-115: 11px;
 --dse-size-125: 13px;
 --dse-size-130: 14px;
 --dse-size-150: 15px;
 --dse-size-160: 16px;
 --dse-size-175: 18px;
 --dse-size-200: 20px;
 --dse-size-225: 22px;
 --dse-size-250: 25px;
 --dse-size-300: 30px;
 --dse-size-350: 35px;
 --dse-size-400: 40px;
 --dse-size-450: 45px;
 --dse-size-500: 50px;
 --dse-size-550: 56px;
 --dse-size-600: 60px;
 --dse-size-675: 68px;
 --dse-size-700: 70px;
 --dse-size-800: 80px;
 --dse-size-900: 90px;
 --dse-size-1000: 100px;
 --dse-size-1200: 120px;
 --dse-size-1250: 125px;
 --dse-size-1600: 160px;
 --dse-size-1700: 170px;
 --dse-size-2000: 200px;
 --dse-size-2400: 240px;
 --dse-size-3000: 300px;
 --dse-size-3400: 340px;
 --dse-size-3600: 360px;
 --dse-size-4600: 460px;
 --dse-size-5000: 500px;
 --dse-size-6000: 600px;
}

:root {
 --dse-font-size-50: 11px;
 --dse-font-size-75: 12px;
 --dse-font-size-100: 14px;
 --dse-font-size-200: 16px;
 --dse-font-size-300: 18px;
 --dse-font-size-400: 20px;
 --dse-font-size-500: 22px;
 --dse-font-size-600: 25px;
 --dse-font-size-700: 28px;
 --dse-font-size-800: 32px;
 --dse-font-size-900: 36px;
 --dse-font-size-1000: 40px;
 --dse-font-size-1100: 45px;
 --dse-font-size-1200: 50px;
 --dse-font-size-1300: 60px;
 --dse-size-0: 0px;
 --dse-size-10: 1px;
 --dse-size-25: 2px;
 --dse-size-40: 3px;
 --dse-size-50: 4px;
 --dse-size-65: 5px;
 --dse-size-75: 6px;
 --dse-size-85: 7px;
 --dse-size-100: 8px;
 --dse-size-115: 9px;
 --dse-size-125: 10px;
 --dse-size-130: 11px;
 --dse-size-150: 12px;
 --dse-size-160: 13px;
 --dse-size-175: 14px;
 --dse-size-200: 16px;
 --dse-size-225: 18px;
 --dse-size-250: 20px;
 --dse-size-300: 24px;
 --dse-size-350: 28px;
 --dse-size-400: 32px;
 --dse-size-450: 36px;
 --dse-size-500: 40px;
 --dse-size-550: 44px;
 --dse-size-600: 48px;
 --dse-size-675: 54px;
 --dse-size-700: 56px;
 --dse-size-800: 64px;
 --dse-size-900: 72px;
 --dse-size-1000: 80px;
 --dse-size-1200: 96px;
 --dse-size-1250: 100px;
 --dse-size-1600: 128px;
 --dse-size-1700: 136px;
 --dse-size-2000: 160px;
 --dse-size-2400: 192px;
 --dse-size-3000: 240px;
 --dse-size-3400: 272px;
 --dse-size-3600: 288px;
 --dse-size-4600: 368px;
 --dse-size-5000: 400px;
 --dse-size-6000: 480px;
}

:root{margin:0;height:100%}main{min-height:100vh}
h1.svelte-184wp6z,p.svelte-184wp6z{margin:0 auto}h1.svelte-184wp6z{font-size:2.8em;font-weight:700;margin:0 0 0.5em 0}p.svelte-184wp6z{margin:1em auto}@media(min-width: 480px){h1.svelte-184wp6z{font-size:4em}}
