---
layout: layouts/base.njk
---
<article class="content-width">
  <h1 class="page-title">{{ title }}</h1>
  <ul class="card-grid">
    {% for item in items or pagination.items %}
    <li>{% include "components/card.njk" %}</li>
    {% endfor %}
  </ul>
</article>
