---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <link href="{{ metadata.url }}/feed.xml" rel="self"/>
  <link href="{{ metadata.url }}/"/>
  <updated>{% if collections.posts[0] %}{{ collections.posts[0].date | dateToRfc3339 }}{% else %}{{ buildTime.buildTime | dateToRfc3339 }}{% endif %}</updated>
  <id>{{ metadata.url }}/</id>
  <author>
    <name>{{ metadata.author }}</name>
  </author>
  {% for post in collections.posts %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ metadata.url }}{{ post.url }}"/>
    <updated>{{ post.date | dateToRfc3339 }}</updated>
    <id>{{ metadata.url }}{{ post.url }}</id>
    <content type="html">{{ post.templateContent | htmlToAbsoluteUrls(metadata.url) }}</content>
  </entry>
  {% endfor %}
</feed>
